.flip-tcard-front, .flip-tcard-back {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    height: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #999;
}

.flip-tcard-front {
    background-color: white;
    color: black;
}

.flip-tcard-front img{
    background-color: #E85FA2;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-tcard-front h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

.flip-tcard-front p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.flip-tcard-back {
    background-color: #E85FA2;
    color: white;
}

.flip-tcard-back img{
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-tcard-back p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding: 2px;
}

.flip-tcard-back a{
    color: white;
}