.flip-pcard-front, .flip-pcard-back {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    height: 250px;
    font-size: 15px;
    margin: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #999;
}

.flip-pcard-front {
    background-color: white;
    color: black;
}

.flip-pcard-front img{
    background-color: #31A5BA;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-pcard-front h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.flip-pcard-front p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.flip-pcard-back {
    background-color: #31A5BA;
    color: white;
}

.flip-pcard-back img{
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-pcard-back p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding: 2px;
}

.flip-pcard-back a{
    color: white;
}