.flip-ccard-front, .flip-ccard-back {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    height: 250px;
    font-size: 15px;
    margin: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #999;
}

.flip-ccard-front {
    backface-visibility: hidden;
    background-color: white;
    color: black;
}

.flip-ccard-front img{
    background-color: #FCA276;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-ccard-front h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

.flip-ccard-front p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.flip-ccard-back {
    background-color: #FCA276;
    color: white;
}

.flip-ccard-back img{
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-ccard-back h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

.flip-ccard-back p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 2px;
}

.flip-ccard-back a{
    color: white;
}
